################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Webhooks-Meta
/.vs/Webhooks-Meta/v17/.suo
/.vs/Webhooks-Meta/DesignTimeBuild/.dtbcache.v2
