################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Webhooks-Meta
/.vs/Webhooks-Meta/v17/.suo
/.vs/Webhooks-Meta/DesignTimeBuild/.dtbcache.v2
/.vs/Webhooks-Meta/v17/DocumentLayout.backup.json
/.vs/Webhooks-Meta/v17/DocumentLayout.json
